# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib
*.dSYM

# Compiled Static libraries
*.lai
*.la
*.a

#OS X
.DS_Store

# Misc Files
as2/images/test
*.pdf
as2/*.png
raytracer
as3